<div class="col-md-4 hidden-xs hidden-sm">
    <p class="navbar-text pull-left">
        <a href="#{{model.shared.getRoute('website_list')}}" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </p>
    <span class="navbar-brand">Websites</span>
    <p class="navbar-text pull-right">
        <a href="#{{model.shared.getRoute('website_new')}}" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p>
</div>

