<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <website-list-header></website-list-header>
        <div class="col-md-8">
            <p class="navbar-text pull-left visible-xs visible-sm">
                <a href="#{{model.shared.getRoute('website_list')}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <span class="navbar-brand">New Website</span>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWebsite()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="col-md-4 hidden-xs hidden-sm">
        <website-list-content></website-list-content>
    </div>
    <div class="col-md-8">
        <form>
            <div class="form-group">
                <label for="website-name">Name</label>
                <input type="text"
                       class="form-control"
                       id="website-name"
                       placeholder="Name"
                       ng-model="model.website.name"
                >
            </div>
            <div class="form-group">
                <label for="website-description">Description</label>
                <textarea class="form-control"
                          id="website-description"
                          placeholder="Description"
                          rows="5"
                          ng-model="model.website.description"
                ></textarea>
            </div>
        </form>
    </div>
</div>

<footer></footer>
