<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#{{model.shared.getRoute('profile')}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <span class="navbar-brand">Websites</span>
            <p class="navbar-text pull-right">
                <a href="#{{model.shared.getRoute('website_new')}}" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="col-sm-12">
        <website-list-content></website-list-content>
    </div>
</div>

<footer></footer>
