input.form-control {
    margin-bottom: 5px;
}

body {
    padding: 60px 0px;
}

.widget-container {
    position: relative;
}

.widget-container .widget-control {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FFF;
    padding: 2px 5px;
    border-bottom-left-radius: 5px;
}
