<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/page-list" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <span class="navbar-brand">Edit Page</span>
            <p class="navbar-text pull-right">
                <a href="#/page-list" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="page-name">Name</label>
            <input type="text" class="form-control" id="page-name" placeholder="Page Name">
        </div>
        <div class="form-group">
            <label for="page-title">Title</label>
            <input type="text" class="form-control" id="page-title" placeholder="Page Title">
        </div>
        <div class="form-group">
            <a class="btn btn-danger btn-block"
               href="#/page-list">Delete</a></div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
