<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../website/website-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a href="#" class="navbar-brand">Pages</a>
            <p class="navbar-text pull-right">
                <a href="page-new.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="col-sm-12">
        <div class="form-group">
            <a href="../widget/widget-list.html">Blog Post</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <div class="form-group">
            <a href="../widget/widget-list.html">Blogs</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <div class="form-group">
            <a href="../widget/widget-list.html">Home</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <div class="form-group">
            <a href="../widget/widget-list.html">About</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <div class="form-group">
            <a href="../widget/widget-list.html">Contact Us</a>
            <a href="page-edit.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
