<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#{{model.shared.getRoute('page_list')}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <span class="navbar-brand">New Page</span>
            <p class="navbar-text pull-right">
                <a ng-click="model.createPage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="page-name">Name</label>
            <input type="text" class="form-control" id="page-name" placeholder="Page Name">
        </div>
        <div class="form-group">
            <label for="page-title">Title</label>
            <input type="text" class="form-control" id="page-title" placeholder="Page Title">
        </div>
    </form>
</div>

<footer></footer>
