<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/website-list" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <span class="navbar-brand">Pages</span>
            <p class="navbar-text pull-right">
                <a href="#/page-new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="form-group">
        <a href="#/widget-list">Blog Post</a>
        <a href="#/page-edit" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="form-group">
        <a href="#/widget-list">Blogs</a>
        <a href="#/page-edit" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="form-group">
        <a href="../widget/widget-list.html">Home</a>
        <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="form-group">
        <a href="#/widget-list">About</a>
        <a href="#/page-edit" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="form-group">
        <a href="#/widget-list">Contact Us</a>
        <a href="#/page-edit" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
</div>

<footer></footer>
