<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-left" ng-if="model.header.backBtn">
            <li>
                <a href="#{{model.shared.getRoute(model.header.backBtn.href)}}"
                   class="glyphicon glyphicon-chevron-left"
                ></a>
            </li>
        </ul>
        <span class="navbar-brand">{{model.header.title}}</span>
        <ul class="nav navbar-nav pull-right" ng-if="model.header.actionBtn">
            <li ng-if="model.header.actionBtn.href">
                <a href="#{{model.shared.getRoute(model.header.actionBtn.href)}}"
                   class="glyphicon glyphicon-{{model.header.actionBtn.icon}}"
                ></a>
            </li>
            <li ng-if="model.header.actionBtn.click">
                <a ng-click="model.header.actionBtn.click()"
                   class="glyphicon glyphicon-{{model.header.actionBtn.icon}}"
                ></a>
            </li>
        </ul>
    </div>
</nav>
