<div class="container-fluid">
    <div class="alert alert-danger"
         role="alert"
         ng-if="model.error"
    >{{model.error}}
    </div>
    <h1>Login</h1>
    <input type="text"
           class="form-control"
           placeholder="username"
           ng-model="model.user.username"
    />
    <input type="password"
           class="form-control"
           placeholder="password"
           ng-model="model.user.password"
    />
    <a class="btn btn-primary btn-block"
       ng-click="model.login()"
    >Login
    </a>
    <a class="btn btn-success btn-block"
       href="#{{model.shared.getRoute('register')}}"
    >Register
    </a>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
</div>
