<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a href="#" class="navbar-brand">Choose Widget</a>
            <p class="navbar-text pull-right">
                <a href="../page/page-new.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="form-group">
        <a href="widget-heading.html">Header</a>
    </div>
    <div class="form-group">
        <a href="widget-image.html">Image</a>
    </div>
    <div class="form-group">
        <a href="widget-youtube.html">YouTube</a>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
