<div class="form-group">
    <label for="widget-name">Name</label>
    <input type="text"
           class="form-control"
           id="widget-name"
           placeholder="Widget Name"
           ng-model="model.widget.name"
    />
</div>
<div class="form-group">
    <label for="widget-text">HTML Text</label>
    <textarea class="form-control"
              id="widget-text"
              placeholder="html text"
              rows="10"
              ng-model="model.widget.text"
    ></textarea>
</div>
