<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/widget-list" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <span class="navbar-brand">Widget Edit</span>
            <p class="navbar-text pull-right">
                <a href="#/widget-list" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input type="text" class="form-control" id="widget-name" placeholder="Widget Name">
        </div>
        <div class="form-group">
            <label for="widget-text">Text</label>
            <input type="text" class="form-control" id="widget-text" placeholder="Widget Title">
        </div>
        <div class="form-group">
            <label for="widget-url">URL</label>
            <input type="text" class="form-control" id="widget-url" placeholder="Widget URL">
        </div>
        <div class="form-group">
            <label for="widget-width">Width</label>
            <input type="text" class="form-control" id="widget-width" placeholder="Widget Width">
        </div>
        <div class="form-group">
            <a class="btn btn-danger btn-block"
               href="#/widget-list">Delete</a></div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
