<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#{{model.shared.getRoute('page_list')}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <span class="navbar-brand">Widgets</span>
            <p class="navbar-text pull-right">
                <a href="#{{model.shared.getRoute('widget_chooser')}}"
                   class="navbar-link"
                ><span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="form-group widget-container" ng-repeat="widget in model.widgets">
        <ng-include src="model.getTemplateSrc(widget)"></ng-include>
        <div class="widget-control">
            <a href="#{{model.shared.getRoute('widget_edit', {wgid: widget._id})}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a ng-click="">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>
    </div>
</div>

<footer></footer>
